:root{
    --cor-primaria:#ffef09;
    --cor-secundaria: #0b28c9;
    --cor-fundo: #FFFF;
    --cor-letra: #000;
    --cor-botao:#b5ababad;
    --cor-contraste:#fef8f8d2;
}

body{
    max-width: 100vw;

}

header{
                background-color:var(--cor-primaria);
                color:var(--cor-fundo)
                text-align: center;
                margin:0 auto;
                padding:16px;
                border:5px solid #0b28c9;
}
main{
                color:var(--cor-primaria)
                margin: 0 auto;
                padding: 16px;
             }
article{
                display: flex;
                border:1px var(--cor-secundaria)

                
             }
img{
             width: 680px; 
             height:400px;
             }
.artigo-autor{
                font-weight:bold;
             }
        