body{
    max-width: 100vw;

}

header{
                background-color:#ffef09;
                color:#FFFF;
                text-align: center;
                margin:0 auto;
                padding:16px;
                border:5px solid #0b28c9;
            }
main{
                color: #e6e20d;
                margin: 0 auto;
                padding: 16px;
             }
article{
                display: flex;
                border:1px solid #0400ff83

                
             }
img{
             width: 680px; 
             height:400px;
             }
.artigo-autor{
                font-weight:bold;
             }
        